<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby - Day Out Planner</title>
    <link rel="stylesheet" href="templates/lobby.css">
</head>
<body>
    <div class="container">
        <h1>Lobby ID: {{ lobby_id }}</h1>

        <div class="lobby-details">
            <p>Welcome to your lobby! Click the button below to start the game.</p>
            <button onclick="startGame()">Start Game</button>
        </div>

        <a href="/" class="back-link">Back to Home</a>
    </div>

    <script>
        async function startGame() {            

            var lobby_id = window.location.href.slice(-6);
            const formData = new FormData();
            formData.append("lobby_id", lobby_id);
            // Send the form data to the backend via fetch
            const requestData = {
                method: "POST",
                body: formData,  // FormData is sent here
            };
            const resp = await fetch("/lobbies/"+lobby_id+"/start", requestData);
            
            window.location.href = resp.url;
        }
    </script>
</body>
</html>
